---
import Layout from "../layouts/BlogPost.astro";
//import heroImage from '~/assets/images/Rees-lone-vigil.jpg';
---

<Layout
  title='About Us'
  description='Our purpose statement'
  pubDate={new Date("May 05, 2025")}
  heroImage='https://storage.tennvaunited.org/tennva-logo.jpg'
>
  <p>
    We are an alliance of representatives from organizations and groups across
    Northeast Tennessee and Southwest Virginia, united by shared goals and a
    desire to coordinate with and support one another.
  </p>

  <p>
    We are committed to the rule of law, equal rights for all, and a government
    that protects the vulnerable through fair and just policy.
  </p>
  
  <p>
    We believe in the Constitution, freedom of speech, the separation of church
    and state, the necessity of checks and balances and the principles of
    justice. We act peacefully to promote human rights, social justice, and
    environmental solutions.
  </p>

  <iframe
    src='https://docs.google.com/document/d/17j3EMPgfz-f7WreZ_4HoN29vv2tsdwz33648ZpmC1yU/edit?tab=t.0#heading=h.7oiexltefit2'
    &rm='minimal'
    style='border: 0'
    width='800'
    height='600'
    frameborder='0'
    scrolling='no'></iframe>
</Layout>
</Layout>
