---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>TennVA UNITED!</h1>
      <p>
        TennVa UNITED! is a coalition of 20 politically active organizations in
        Northeast Tennessee and Southwest Virginia that have the shared goal of
        defending the US Constitution.
      </p>
      <p>
        If you want to get in contact, email us at
        <a href='mailto:info@tennvaunited.org'>info@TennVaUnited.org</a> and follow
        us on <a href='https://www.facebook.com/profile.php?id=61575766000362'
          >Facebook</a
        >
      </p>
      <img
        src='https://storage.tennvaunited.org/list-of-events-5-23.jpg'
        alt='Listing of events'
        class='center'
      />
    </main>
    <Footer />
  </body>
</html>
