---
import Layout from "../layouts/BlogPost.astro";
//import heroImage from '~/assets/images/Rees-lone-vigil.jpg';
---

<Layout
  title='Resources'
  description='Recommended resources'
  pubDate={new Date()}
  heroImage='https://storage.tennvaunited.org/tennva-logo.jpg'
>
  <p>Here's a Google Doc of resources we recommend.</p>
  <iframe
    src='https://docs.google.com/document/d/1UrgaMvr9qOGya84GLtaXaIZfQq93SvDMp7YUHm-HK48/edit?tab=t.0'
    style='border: 0'
    width='800'
    height='600'
    frameborder='0'
    scrolling='no'></iframe>
</Layout>
